.search {
  grid-area: search;
  background-color: var(--main-ui-color);
  min-height: 50vh;
  border: 1px solid black;
  max-width: 20%;
  margin: 2rem 0.5rem;
  padding: 1rem;
  border-radius: 1rem;
  > .searchbar {
    display: flex;
    flex-direction: column;
    > input {
      margin: 0.5rem 0;
      padding: 0.5rem;
      border-radius: 0.5rem;
      border: 1px solid black;
    }
    > button {
      margin: 0.5rem 0;
      padding: 0.5rem;
      border-radius: 0.5rem;
      border: 1px solid black;
      background-color: var(--secondary-ui-color);
      color: var(--text-color);
      font-weight: bold;
      cursor: pointer;
    }
  }
}
