:root {
  --size-shop-item-height: 12.5rem;
}

.shop-item {
  display: flex;
  flex-direction: row;
  width: 30rem;
  height: var(--size-shop-item-height);
  background-color: var(--main-ui-color);
  box-shadow: 0 0 0.5rem 0.1rem var(--main-ui-color);
  margin: 1.5rem;
  > * {
    margin: 0.3rem;
  }
}

img {
  width: auto;
  max-width: auto;
  height: 100%;
  max-height: var(--size-shop-item-height);
  object-fit: cover;
}

.text-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0;
}

h1,
h5 {
  margin: 0 !important;
  font-weight: 100 !important;
  line-height: normal !important;
}
h1 {
  font-size: 1.3rem !important;
}

h5 {
  font-size: 0.8rem !important;
}

.price-button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: 0 0.8rem 0.8rem 0;
  .btn-primary {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 1rem;
    width: 3rem;
    font-size: 0.5rem;
  }

  .price-container {
    background-color: var(--secondary-ui-color);
    margin: 0.8rem;
    > h3 {
      font-size: 1.2rem !important;
    }
  }
}
